@model IEnumerable<SunTech.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Cliente</h1>

<p>
    <a asp-action="Create" class="btn1">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <div>
            @using (Html.BeginForm("Index", "Cliente", FormMethod.Get))
            {
            <p>
                Digite aqui sua pesquisa: @Html.TextBox("pesquisa")
                    <input class="btn btn-primary btn2" type="submit" value="Pesquisar" />
            </p>
            }
</div>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenhaCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoCliente)
            </td>
            <td>
                <a class="btn5" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn5" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn5" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
