@model IEnumerable<SunTech.Models.MonitoramentoDiario>

@{
    ViewData["Title"] = "Index";
}

<h1>Monitoramento Diário</h1>

<p>
    <a asp-action="Create" class="btn1">Cadastrar</a>
</p>
<table class="table">
    <thead>

                <div>
            @using (Html.BeginForm("Index", "MonitoramentoDiario", FormMethod.Get))
            {
                <p>
                    Digite aqui sua pesquisa: @Html.TextBox("pesquisa")
                    <input class="btn btn-primary"type="submit" value="Pesquisar" />
                </p>
            }
</div>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monitoramento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monitoramento.Id)
            </td>
            <td>
                <a class="btn5" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn5" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn5" -action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
