@model SunTech.Models.Compra_Has_Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compra.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.NomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotalProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotalProduto)
        </dd>
    </dl>
</div>
<div>
    <a class="btn3" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn2" asp-action="Index">Voltar</a>
</div>
